<!-- DEBUT Profile banner -->
<section id="profile--banner" style="background-image:url({{ asset(sImgPath ~ 'banner/Profile.png') }});">
    <H1>TABLEAU DE BORD</H1>
    
    <a class="btn btn--ordering" href="{#{{ path('') }}#}">
        <i class="fas fa-motorcycle"></i>
        &nbsp;
        Commander une course
    </a>
    
    <!-- internal page menu, to navigate to ID -->
    {% if app.user %}
    <div id="nav--inpage">
        {% if "ROLE_USER" in app.user.roles %}
        <a class="btn nav--inpage-btn-bgb" href="{{ path('profile_user', {'id': app.user.id}) }}">L'utilisateur</a>
        {% endif %}
        {% if "ROLE_CUSTOMER" in app.user.roles %}
        <a class="btn nav--inpage-btn-bgb" href="{{ path('profile_customer') }}">Le client</a>
        {% endif %}
        <div>
        {#{{ dump('app.user : ') }}#}
        {#{{ dump(app.user) }}#}
    </div>
    <div>
        {#{{ dump('app.user.driver : ') }}#}
        {#{{ dump(app.user.driver) }}#}
    </div>
    <div>
        {#{{ dump('app.user.driver.company : ') }}#}
        {#{{ dump(app.user.driver.company) }}#}
    </div>
        {% if "ROLE_DRIVER" in app.user.roles %}
        <a class="btn nav--inpage-btn-bgb" href="{{ path('profile_driver') }}">Le professionnel</a>
        {% elseif not app.user.driver %}
        <a class="btn nav--inpage-btn-important" href="{{ path('registration_driver', {'id': app.user.id}) }}">Créer un compte pilote VMDTR</a>
        {% endif %}
    </div>
    {% endif %}
</section>
<!-- FIN Profile banner -->