{% extends 'base.html.twig' %}
{% set Title="Modification Avatar" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

{#{{ dump(picture) }}#}

    {{ include('profile/banner.html.twig') }}
    <form class="modal--big container-fluid" method="post" enctype="multipart/form-data">
        
{% if msg_info is defined and msg_info is not null %}
<div class="alert alert-warning" role="alert" style="width:100%;">{{ msg_info }}</div>
{% endif %}

        <h1 class="h3 mt-4 mb-3 font-weight-normal">Choississez votre photo de profil :</h1>
        
        <div class="d-flex flex-row">
            <div class="card--profile m-2">
                <label for="avatar1">
                    <img class="imgbtn--profile" for="avatar1" src="{{ asset(sImgPath ~'Avatar/Avatar-WB.png') }}" alt="Photo de profil">
                </label>
                <input type="radio" id="avatar1" name="avatar" value="Avatar-WB.png">
            </div>
            <div class="card--profile m-2">
                <label for="avatar2">
                    <img class="imgbtn--profile" src="{{ asset(sImgPath ~'Avatar/Avatar-WW.png') }}" alt="Photo de profil">
                </label>
                <input type="radio" id="avatar2" name="avatar" value="Avatar-WW.png">
            </div>
            <div class="card--profile m-2">
                <label for="avatar3">
                    <img class="imgbtn--profile" src="{{ asset(sImgPath ~'Avatar/Avatar-MW.png') }}" alt="Photo de profil">
                </label>
                <input type="radio" id="avatar3" name="avatar" value="Avatar-MW.png">
            </div>
            <div class="card--profile m-2">
                <label for="avatar4">
                    <img class="imgbtn--profile" src="{{ asset(sImgPath ~'Avatar/Avatar-MB.png') }}" alt="Photo de profil">
                </label>
                <input type="radio" id="avatar4" name="avatar" value="Avatar-MB.png">
            </div>
        </div>
        <hr ><!-- style="width:50%", size="3", color=black> -->
        <div class="d-flex flex-row align-items-center">
            <div class="card--profile m-2">
                <label for="avatarfile">
                    {% if getuserportrait(app.user.id) %}
                    <img class="imgbtn--profile" id="img--browse" src="{{ asset(getuserportrait(app.user.id).pathname) }}" alt="Photo de profil">
                    {% else %}                    
                    <img class="imgbtn--profile" id="img--browse" src="{{ asset(sImgPath ~'no-image.png') }}" alt="Photo de profil">
                    {% endif %}
                </label>
                <input type="radio" id="avatarfile" name="avatar" value="FILE" for="browse"
                    {#{% if getuserportrait(app.user.id) %}#}
                    checked
                    {#{% endif %}#}
                >
            </div>
            <input type="file" name="file" id="browse"
                value="{{ asset(getuserportrait(app.user.id).pathname) }}"
                accept=".jpg, .jpeg, .png"
            >
<!-- <script>
    const fileSelector = document.getElementById('browse');
    fileSelector.addEventListener('change', (event) => {
        const fileList = event.target.files;
        // document.querySelector('#img--browse').src=event.target.result;
        console.log(event.target.result);
    });
</script> -->
        </div>
        <br>
        <div class="btns--row">
            <button class="btn btn-sm btn--blue" type="submit">
                <i class="ri-cursor-line"></i>&ensp;Sélectionner
            </button>
            <a class="btn btn-bg btn--secondary btn-return" href="{{ path('profile_user',{'id': app.user.id}) }}">
                <i class="ri-close-fill"></i>&ensp;Annuler
            </a>
        </div>
    </form>
<!-- </div> -->
{% endblock %}
