
{% extends 'base.html.twig' %}
{% set Title="... du client" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

    <!-- ##### v DEBUT DES ELEMENTS PRINCIPAUX DE LA PAGE v ##### -->

    {{ include('profile/banner.html.twig') }}
    
    <!-- Zone d'affichage des messages "FLASH" venant du Controller -->
    {{ include('flash.html.twig') }}

    {#<!-- <section id="regions_json" hidden>{{ JSgetregions() }}</section> -->#}
    {#<!-- <section id="dpts_json" hidden>{{ JSgetdpts() }}</section> -->#}
    <section id="cities_json" hidden>
        {{ JSgetcities() }}
    </section>
    
    <div class="paragraph--large" id="div--2hide-ifmodal">
    
        <!-- L'adresse postale -->
        <form class="card--3D-vertical my-4" method="post"><!--class="d-flex flex-row justify-content-center my-4">-->
            <h2 class="h3 ml-4 mt-4 mb-3 font-weight-normal">Adresse personnelle :</h2>
            <!-- Bloc adresse du Customer -->
            <div class="block--datas-horizontal mx-3">
                <div class="col-12 col-md-5">
                    <label class="required" for="inputroad">N° et Voie :</label>
                    <input type="text" class="form-control" id="inputroad"
                        value="{{ app.user.customer.road }}"
                        name="customer_road" required
                    ><!-- autofocus> -->
                    {% if error_customer_road is defined and error_customer_road is not null %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">La voie doit comporter un numéro et un nom.</small>
                    </span>
                    {% endif %}
                    <!-- &nbsp; -->
                </div>
                &nbsp;
                <div class="col-12 col-md-3">
                    <label class="required" for="inputcity">Commune :</label>
                    <input type="text" class="form-control inputcity" id="inputcity"
                        value="{{ app.user.customer.city }}"
                        name="customer_city"
                    >
                    <!-- required -->
                    <select class="form-control cities" id="inputcities"
                        name="cities" title="cities"
                    >
                        <option value="">-- Sélectionnez votre commune --</option>
                    </select>
                    {% if error_customer_city is defined and error_customer_city is not null %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">La ville doit-être spécifiée.</small>
                    </span>
                    {% endif %}
                </div>
                &nbsp;
                <div class="col-12 col-md-3">
                    <label class="required" for="inputzip">Code postal :</label>
                    <input type="text" class="form-control" id="inputzip"
                        value="{{ app.user.customer.zip }}"
                        name="customer_zip" style="display:none;"
                    >
                    <!-- -->
                    <input type="text" class="form-control inputzip" id="inputzip2"
                        value="{{ app.user.customer.zip }}"
                        name="customer_zip" disabled
                    >
                    {#{% if error_customer_zip %}#}
                    <!-- <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">La voie doit comporter un numéro et un nom.</small>
                    </span> -->
                    {#{% endif %}#}
                </div>
            </div>
            <br>
            <!-- rangée de bouton(s) : Mise à jour adresse -->
            <div class="btns--row">
                <button class="btn btn-sm btn--blue" type="submit">
                    <i class="ri-record-circle-line"></i>&ensp;Enregistrer les modifications
                </button>
                {#<!-- <a class="btn btn-sm btn--secondary" href="{{ path('profile_user',{'id': app.user.id}) }}">
                    <i class="ri-close-fill"></i>&ensp;Annuler
                </a> -->#}
            </div>
        </form>

        <!-- L'historique des échanges -->
        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center mb-3">
            <h2 class="h3 mt-4 mb-3 font-weight-normal">Historique des échanges :</h2>

            <!-- Affiche dépendant de l'existance de données de plus d'un an -->
            <button class="btn btn-sm btn--green" id="btn--show-hide--archive">
                <i class="ri-eye-line"></i>&ensp;Récents seulement
            </button>

        </div>
        <div class="row--tabtype" id="row--tabtype--travel">
            <div class="btn--tabtype" id="btn--tabtype--claim" parent_id="row--tabtype--travel" default>Demandes envoyées</div>
            <div class="btn--tabtype" id="btn--tabtype--tender" parent_id="row--tabtype--travel">Devis reçus</div>
            <div class="btn--tabtype" id="btn--tabtype--order" parent_id="row--tabtype--travel">Courses effectuées</div>
        </div>
        <!-- tableau des Demandes envoyées (Claims) -->
        <table class="table table-striped table--tabtype" id="table--tabtype--claim" parent_id="btn--tabtype--claim">
            <thead class="thead--dark">
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Demande du</th>
                    <th>Course pour le</th>
                    <th>Prise en charge</th>
                    <th>Destination</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in app.user.customer.getclaims %}
                    {% if "now" | date("U") - claim.claimdatetime|date('U') < 31536000 %}
                <tr class="row--tab row--claim TOUTES" parent_id="btn--tabtype--claim">
                    {% else %}
                <tr class="row--tab row--claim ARCHIVE" parent_id="btn--tabtype--claim">
                    {% endif %}
                    <td></td>
                    <td>{{ claim.id }}</td>
                    <td>{{ claim.claimdatetime|date('d/m/Y') }}</td>
                    <td>{{ claim.journeydate|date('d/m/Y') }}</td>
                    <td>{{ getcitybyzip(claim.fromzip).name }}</td>
                    <td>{{ getcitybyzip(claim.tozip).name }}</td>
                    <td>
                        <div class="d-flex flex-row flex-wrap align-items-center">
                            <button class="btn btn-sm btn--blue btn--showmodal" id="{{ 'btn--showmodal'~claim.id }}" data_id="{{ claim.id }}" data_type="claim">
                                <i class="ri-eye-line"></i>&ensp;Détails
                            </button>
                            &ensp;
                            {% if claim.tenders|length < 0 %}
                            {#
                            {% if claim.tenders|length > 0 %}
                            <button class="btn btn-sm btn--blue" data_id="{{ claim.id }}" data_type="claim">
                                <i class="ri-file-paper-2-line"></i>&ensp;{{ claim.tenders|length }}&ensp;Devis
                            </button>
                            <!-- id="btn--claim--viewtenders" -->
                            {% else %}
                            #}
                            Aucun devis proposé
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if app.user.customer.getclaims|length == 0 %}
                <tr>
                    <td colspan="6">Vous n'avez fait encore aucune demande...</td>
                </tr>
                {% endif %}
            </tfoot>
        </table>
        <!-- tableau des Devis reçus (Tenders) -->
        <table class="table table-striped table--tabtype" id="table--tabtype--tender" parent_id="btn--tabtype--tender">
            <thead class="thead--dark">
                <tr>
                    <th></th>
                    <th>Devis du</th>
                    <th>Proposé par</th>
                    <th>Pour la demande du</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {#{% for claim in app.user.customer.getclaim %}
                    {% if "now" | date("U") - claim.claimdatetime|date('U') < 31536000 %}
                    
                <tr class="row--tab row--tender ARCHIVE" parent_id="btn--tabtype--tender">
                    {% else %}#}
                <tr class="row--tab row--tender TOUTES" parent_id="btn--tabtype--tender">
                    {#{% endif %}#}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                    
                    <td> Accepter / Refuser </td>
                </tr>
                {#{% endfor %}#}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Pas de devis reçu...</td>
                </tr>
            </tfoot>
        </table>
        <!-- tableau des Courses effectuées (Orders) -->
        <table class="table table-striped table--tabtype" id="table--tabtype--order" parent_id="btn--tabtype--order">
            <thead class="thead--dark">
                <tr>
                    <th></th>
                    <th>Demande du</th>
                    <th>Course le</th>
                    <th>Prise en charge</th>
                    <th>Destination</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in app.user.customer.getclaims %}
                {#{% if "now" | date("U") - claim.claimdatetime|date('U') < 31536000 %}
                <tr class="row--tab row--order ARCHIVE" parent_id="btn--tabtype--order">
                    {% else %}#}
                <tr class="row--tab row--order TOUTES" parent_id="btn--tabtype--order">
                    {#{% endif %}#}
                    <td></td>
                    
                    <td> Les boutons !! </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if app.user.customer.getclaims|length == 0 %}
                <tr>
                    <td colspan="4">Vous n'avez encore pas bénéficié des services des pilotes de l'Annuaire...</td>
                </tr>
                {% endif %}
            </tfoot>
        </table>
    </div>

    <!-- ##### ^ FIN DES ELEMENTS PRINCIPAUX DE LA PAGE ^ ##### -->

    <!-- ------------------------------------------------------ -->
    
    <!-- ##### v DEBUT DES MODALES v ##### -->

    <!-- Modal d'affichage des détails de la demande -->
    {% for claim in app.user.customer.getclaims %}
    <div class="modal--big p-5" id="{{ 'modal--claim--'~claim.id }}" style="display:none;">
        <!-- Les "détails" de la demande -->
        {{ include('claim/card.html.twig') }}
        <!-- Les "cartes" des utilisateurs destinataires de la demande... -->
        {% if claim.drivers %}
        <h3 class="pt-3">Envoyée à :</h3>
        <!-- ... la rangée "cartes" des utilisateurs destinataires de la demande... -->
        <div class="d-flex flex-column align-items-center">
        <!-- <div class="d-flex flex-row flex-wrap"> -->
            {% for driver in claim.drivers %}
                <!-- ... LA "carte utilisateur" à itérer... -->
                {{ include('driver/card.html.twig', {obDriver: driver}) }}
            {% endfor %}
        </div>
        {% endif %}

        <button class="btn btn-sm btn--secondary mt-5 btn--hidemodal"
            parent_id="{{ 'modal--claim--'~claim.id }}"
        >
            <i class="ri-close-fill"></i>&ensp;Fermer
        </button>
    </div>
    {% endfor %}

    <!-- ##### v FIN DES MODALES v ##### -->

{% endblock %}
