
{% extends 'base.html.twig' %}
{% set Title="... du client" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

    {% if customer is not defined or customer==null %}
        {% set customer=app.user.customer %}
    {% endif %}
    {% if myclaims is not defined or myclaims==null %}
        {% set myclaims=getclaims4customer(customer, witharchived) %}
        {#{% set myclaims=customer.claims %}#}
    {% endif %}
    
    <!-- ##### v DEBUT DES ELEMENTS PRINCIPAUX DE LA PAGE v ##### -->

    <div id="blk--2hide-ifmodal">
        {{ include('profile/_banner.html.twig') }}

        <!-- Zone de stockage des données issues de JSON, à l'attention de Javascript -->
        {{ include('geography/_FromJSON4Javascript.html.twig') }}
        
        <div class="paragraph--large" id="blk--2hide-ifmodal">

            <!-- L'historique des échanges -->
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center mb-3">
                <h2 class="title--h2 mb-3">Echanges avec les pilotes :</h2>
                <form id="formtable" method="post">
                    <input type="hidden" name="witharchived" value="{{ witharchived }}">
                    <button class="btn btn-sm btn--green" name='show-hide--archive' type='submit' form="formtable">
                        <i class="far fa-eye"></i>&ensp;
                        {% if witharchived %}
                        Masquer les archives
                        {% else %}
                        Montrer les archives
                        {% endif %}
                    </button>
                </form>
            </div>
            <div class="row--tabtype" id="row--tabtype--travel">
                <div class="btn--tabtype" id="btn--tabtype--claim" parent_id="row--tabtype--travel" default>Demandes envoyées</div>
                <div class="btn--tabtype" id="btn--tabtype--tender" parent_id="row--tabtype--travel">Devis reçus</div>
                <div class="btn--tabtype" id="btn--tabtype--order" parent_id="row--tabtype--travel">Courses effectuées</div>
            </div>

            <!-- tableau des Demandes envoyées (Claims) -->
            <table class="table table-striped block--tabtype" id="block--tabtype--claim" parent_id="btn--tabtype--claim">
                <thead class="thead--dark--CANCELED">
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Demande du</th>
                        <th>Course pour le</th>
                        <th>Prise en charge</th>
                        <th>Destination</th>
                        <th>Etat/Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Affiche les Demandes (en commençant par les + récentes) -->
                    {% for claim in myclaims|reverse %}
                    {#<!-- {% for claim in app.user.customer.getclaims|reverse %} -->#}
                    <tr class="row--tab row--claim " parent_id="btn--tabtype--claim">
                        <td></td>
                        <td>{{ claim.id }}</td>
                        <td>{{ claim.claimdatetime|date('d/m/Y') }}</td>
                        <td>{{ claim.journeydate|date('d/m/Y') }}</td>
                        <td>{% if claim.remarkableplacefrom %}
                                {{ claim.remarkableplacefrom.label }}
                            {% else %}
                                {{ getcitybyzip(claim.fromzip).name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if claim.remarkableplaceto %}
                                {{ claim.remarkableplaceto.label }}
                            {% else %}
                                {{ getcitybyzip(claim.tozip).name }}
                            {% endif %}
                        </td>
                        <td style="align-items:center;">
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <!-- indication sur le nombre de pilote(s) destinataire(s) -->
                                <div style="align-items:center;">
                                    <i class="ri-mail-send-line" title="Nb. de pilote(s) destinataire(s)"></i> {{ claim.drivers|length }}
                                </div>
                                <!-- indication sur le nombre de devis reçu en réponse -->
                                &ensp;
                                <div {% if claim.tenders|length == 0 %}style="color:red;"{% else %}style="color:green;"{% endif %}>
                                    <i class="fas fa-inbox" title="Nb. de devis(s) reçu(s) en retour"></i> {#{{ claim.tenders|length }}#}
                                </div>
                                {#<!-- <i class="ri-folder-received-line"> {{ claim.tenders|length }}</i> -->#}
                                <!-- bouton d'affiche des détails de la demande (Claim) dans une MODAL -->
                                &emsp;
                                <button class="btn btn-sm btn--action btn--showmodal" id="{{ 'btn--showmodal'~claim.id }}" data_id="{{ claim.id }}" data_type="claim">
                                    <i class="far fa-eye" title="Voir en détails"></i><!--&ensp;Détails-->
                                </button>
                                &emsp;
                                <!-- Archivage/Réactualisation (seulement si réponse (Tender) envoyée)-->
                                {% set obStatus=getstatus4claimofcustomer(claim, customer) %}
                                {% if obStatus is defined %}
                                <a class="btn btn-sm btn--action" href="{{ path('customer_switchclaimstatus_archived', {'id':claim.id}) }}">
                                    {% if obStatus[0].isarchivedbycustomer==false %}
                                    <i class="fas fa-inbox" style="color:blue;" title="En cours => Archiver"></i>
                                    {% else %}
                                    <i class="fas fa-file-archive" style="color:orange;" title="Archivé => Réactualiser"></i>
                                    {% endif %}
                                </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            {% if app.user.customer.getclaims|length == 0 %}
                            Vous n'avez fait encore aucune demande...&emsp;
                            {% endif %}
                            <a class="btn btn-sm btn--red" href="{{ path('claim_create') }}">
                                <i class="fas fa-motorcycle"></i>&nbsp;Commander une course
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <!-- tableau des Devis reçus (Tenders) -->
            <table class="table table-striped--CANCELED block--tabtype" id="block--tabtype--tender" parent_id="btn--tabtype--tender">
                <thead class="thead--dark--CANCELED">
                    <tr>
                        <th></th>
                        <th>Demande n° / du</th>
                        <th>Devis n° / du</th>
                        <th>Prise en charge</th>
                        <th>Destination</th>
                        <th>Au tarif de (&euro;)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- Affiche les Devis reçus en commençant par les + récents -->
                <tbody>
                    {% set claims=app.user.customer.getclaims|reverse %}
                    {% set iCount=0 %}
                    {% set bc4tr='white' %}
                    {% for claim in claims %}
                        {% if claim.tenders|length > 0 %}
                            {% if bc4tr=='white' %}
                                {% set bc4tr='whitesmoke' %}
                            {% else %}
                                {% set bc4tr='white' %}
                            {% endif %}
                            {% set iCount=iCount+1 %}
                        {% endif %}
                        <!--  -->
                        {% for tender in claim.tenders|reverse %}
                    <tr class="row--tab row--tender" style="{{ 'background-color:' ~ bc4tr ~ ';' }}" parent_id="btn--tabtype--tender">
                        <td></td>
                        <td>#{{ tender.claim.id }} / {{ tender.claim.claimdatetime|date('d/m/Y') }}</td>
                        <td>#{{ tender.id }} / {{ tender.tenderdatetime|date('d/m/Y') }}</td>
                        <td>
                            {% if tender.claim.remarkableplacefrom != null %}
                            {{ tender.claim.remarkableplacefrom.label }}
                            {% else %}
                            {{ tender.claim.fromcity }}
                            {#<!-- {{ tender.claim.fromroad~', '~tender.claim.fromzip~' '~tender.claim.fromcity }} -->#}
                            {% endif %}
                        </td>
                        <td>
                            {% if tender.claim.remarkableplaceto != null %}
                            {{ tender.claim.remarkableplaceto.label }}
                            {% else %}
                            {{ tender.claim.tocity }}
                            {#<!-- {{ tender.claim.toroad~', '~tender.claim.tozip~' '~tender.claim.tocity }} -->#}
                            {% endif %}
                        </td>
                        <td><b>{{ tender.price }}</b></td>
                        <td>
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <!-- VOIR devis (Tender) -->
                                <a class="btn btn-sm btn--action"
                                    href="{{ path('tender_read', {'id':tender.id}) }}"
                                >
                                    <i class="far fa-eye" title="Voir le devis"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if claims|length == 0 or iCount == 0 %}
                    <tr><td colspan="7">Pas de devis reçu...</td></tr>
                    {% endif %}
                </tfoot>
            </table>
            
            <!-- tableau des Courses effectuées (Orders) -->
            <table class="table table-striped--CANCELED block--tabtype" id="block--tabtype--order" parent_id="btn--tabtype--order">
                <thead class="thead--dark--CANCELED">
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Demande du</th>
                        <th>Course le</th>
                        <th>Prise en charge</th>
                        <th>Destination</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Affiche les Courses en commençant par les + récentes -->
                </tbody>
                <tfoot>
                    {% if null|length == 0 %}
                    <tr>
                        <td colspan="4">Vous n'avez encore pas bénéficié des services des pilotes de l'Annuaire...</td>
                    </tr>
                    {% endif %}
                </tfoot>
            </table>
        </div>
    </div>

    <!-- ##### ^ FIN DES ELEMENTS PRINCIPAUX DE LA PAGE ^ ##### -->

    <!-- ------------------------------------------------------ -->
    
    <!-- ##### v DEBUT DES MODALES v ##### -->

    <!-- Modal d'affichage des détails de la DEMANDE -->
    {% for claim in app.user.customer.getclaims %}
    <div class="m-5" id="{{ 'modal--claim--'~claim.id }}" style="display:none;">
    <!-- <div class="modal--big-css p-5" id="{{ 'modal--claim--'~claim.id }}" style="display:none;"> -->

        <!-- Bouton "fixe" à afficher en même temps que toute Modale, pour fermeture de celle-ci -->
        <div class="btn--circle btn--hidemodal modal--closing" parent_id="{{ 'modal--claim--'~claim.id }}">X</div>
        
        <h2><U>DEMANDE DE COURSE ENVOYEE</U></h2>

        <!-- Les "détails" de la demande et des pilotes destinataires -->
        <div class="d-flex flex-row flex-wrap w-100 my-3">
            <!-- Les "détails" de la demande -->
            {% if claim.drivers and claim.drivers|length == 1 %}
            <div class="d-flex flex-column col-md-12 col-xl-7">
            {% else %}
            <div class="d-flex flex-column col-12">
            {% endif %}
                {{ include('claim/_card.html.twig') }}
            </div>
            <!-- Les "cartes" des pilotes destinataires de la demande... -->
            {% if claim.drivers %}
                {% if claim.drivers|length == 1 %}
            <div class="d-flex flex-column col-md-12 col-xl-5">
                {% else %}
            <div class="d-flex flex-column col-12">
                {% endif %}
                <h3>Envoyée à :</h3>
                <!-- ... la rangée "cartes" des utilisateurs destinataires de la demande... -->
                <!-- <div class="d-flex flex-row flex-wrap align-items-center"> -->
                <div class="d-flex flex-column align-items-center">
                    {% for driver in claim.drivers %}
                    <!-- ... LA "carte utilisateur" à itérer... -->
                    {{ include('driver/_card_mid.html.twig', {obDriver: driver, obClaim: claim}) }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="btns--row">
            <button class="btn btn-sm btn--secondary mt-5 btn--hidemodal"
                parent_id="{{ 'modal--claim--'~claim.id }}"
            >
                <i class="fas fa-times"></i>&ensp;Retour
            </button>
        </div>
    </div>
    {% endfor %}
    <!-- Fin Modal d'affichage des détails de la DEMANDE -->

    <!-- ##### v FIN DES MODALES v ##### -->

{% endblock %}
