
{% extends 'base.html.twig' %}
{% set Title="... du pilote" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

    {% if driver is not defined or driver==null %}
        {% set driver=app.user.driver %}
    {% endif %}
    {% if claims4me is not defined or claims4me==null %}
        {% set claims4me=getclaims4driver(driver, witharchived) %}
    {% endif %}
    
    <!-- ##### v DEBUT DES ELEMENTS PRINCIPAUX DE LA PAGE v ##### -->

    <div id="blk--2hide-ifmodal">
        {{ include('profile/_banner.html.twig') }}

        <!-- Zone de stockage des données issues de JSON, à l'attention de Javascript -->
        {{ include('geography/_FromJSON4Javascript.html.twig') }}

        <!-- Block affiché SSI le pilote demande à choisir parmi les Company "déjà référencée" -->
        <div class="paragraph--large">
            <!-- Common Form to choose Company object in existing list -->
            {{ include('company/_form-companies.html.twig') }}
        </div>
        
        <!-- Block par défaut -->
        <div class="paragraph--large" id="blk--company2create">
    
            <!-- L'historique des échanges -->
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center mt-5">
                <h2 class="title--h2 mb-3">Echanges avec les clients :</h2>
                <form id="formtable" method="post">
                    <input type="hidden" name="witharchived" value="{{ witharchived }}">
                    <button class="btn btn-sm btn--green" name='show-hide--archive' type='submit' form="formtable">
                        <i class="far fa-eye"></i>&ensp;
                        {% if witharchived %}
                        Masquer les archives
                        {% else %}
                        Montrer les archives
                        {% endif %}
                    </button>
                </form>
            </div>
            <!-- * Les onglets de sélection du block affiché * -->
            <div class="row--tabtype" id="row--tabtype--travel">
                <div class="btn--tabtype" id="btn--tabtype--claim" parent_id="row--tabtype--travel" default>Demandes reçues</div>
                <div class="btn--tabtype" id="btn--tabtype--tender" parent_id="row--tabtype--travel">Devis envoyés</div>
                <div class="btn--tabtype" id="btn--tabtype--order" parent_id="row--tabtype--travel">Courses effectuées</div>
            </div>

            <!-- tableau des Demandes reçues (Claims) -->
            <table class="table table-striped--CANCELED block--tabtype" id="block--tabtype--claim" parent_id="btn--tabtype--claim">
                <thead class="thead--dark--CANCELED">
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Demande du</th>
                        <th>Course pour le</th>
                        <th>Prise en charge</th>
                        <th>Destination</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- Affiche les Demandes (en commençant par les + récentes) -->
                <tbody>
                    {% for claim in claims4me|reverse %}                    
                    <tr class="row--tab row--claim align-items-center justify-content-center" parent_id="btn--tabtype--claim">
                        <td></td>
                        <td>{{ claim.id }}</td>
                        <td>{{ claim.claimdatetime|date('d/m/Y') }}</td>
                        <td>{{ claim.journeydate|date('d/m/Y') }}</td>
                        <td>
                            {% if claim.remarkableplacefrom %}
                                {{ claim.remarkableplacefrom.label }}
                            {% else %}
                                {{ getcitybyzip(claim.fromzip).name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if claim.remarkableplaceto %}
                                {{ claim.remarkableplaceto.label }}
                            {% else %}
                                {{ getcitybyzip(claim.tozip).name }}
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <!-- bouton VOIR DETAILS -->
                                <button class="btn btn-sm btn--action btn--showmodal" id="{{ 'btn--showmodal'~claim.id }}" data_id="{{ claim.id }}" data_type="claim">
                                    <i class="far fa-eye" title="Voir en détails"></i><!--&ensp;Détails-->
                                </button>
                                &emsp;
                                {% set obStatus=getstatus4claimanddriver(claim, driver) %}
                                <!-- bouton LU/NON-LU -->
                                {% if obStatus is defined and obStatus.isarchivedbydriver==false %}
                                <a class="btn btn-sm btn--action"
                                    href="{{ path('driver_switchclaimstatus_viewed', {'id':obStatus.id}) }}"
                                >
                                    {% if obStatus is defined and obStatus.isread==false %}
                                    <i class="fas fa-envelope" style="color:red;" title="NON-LUE, marquer LUE"></i>
                                    {% else %}
                                    <i class="fas fa-envelope-open-text" style="color:green;" title="LUE, marquer Non-lue"></i>
                                    {% endif %}
                                </a>
                                &emsp;
                                {% endif %}
                                <!-- Archivage/Réactualisation (seulement si réponse (Tender) envoyée)-->
                                <a class="btn btn-sm btn--action" href="{{ path('driver_switchclaimstatus_archived', {'id':obStatus.id}) }}">
                                    {% if obStatus is defined and obStatus.isarchivedbydriver==false %}
                                    <i class="fas fa-inbox" style="color:blue;" title="En cours => Archiver"></i>
                                    {% else %}
                                    <i class="fas fa-file-archive" style="color:orange;" title="Archivé => Réactualiser"></i>
                                    {% endif %}
                                </a>
                                
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if not driver or claims4me|length == 0 %}
                    {#<!-- {% if not app.user.driver or app.user.driver.getclaims|length == 0 %} -->#}
                    <tr>
                        <td colspan="6">Vous n'avez reçu encore aucune demande...</td>
                    </tr>
                    {% endif %}
                </tfoot>
            </table>

            <!-- tableau des Devis envoyés (Tenders) -->
            <table class="table table-striped--CANCELED block--tabtype" id="block--tabtype--tender" parent_id="btn--tabtype--tender">
                <thead class="thead--dark--CANCELED">
                    <tr>
                        <th></th>
                        <th>Devis n° / du</th>
                        <th>Demande n° / du</th>
                        <th>Prise en charge</th>
                        <th>Destination</th>
                        <th>Distance (km)</th>
                        <th>Au tarif de (&euro;)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- Affiche les Devis en commençant par les + récents -->
                <tbody>
                    {% for tender in app.user.driver.gettenders|reverse %}
                    <tr class="row--tab row--tender" parent_id="btn--tabtype--tender">
                        <td></td>
                        <td>{{ tender.id~' / '~tender.tenderdatetime|date('d/m/Y') }}</td>
                        <td>{{ tender.claim.id~' / '~tender.claim.claimdatetime|date('d/m/Y') }}</td>
                        <td>
                            {% if tender.claim.remarkableplacefrom != null %}
                            {{ tender.claim.remarkableplacefrom.label }}
                            {% else %}
                            {{ tender.claim.fromcity }}
                            {#<!-- {{ tender.claim.fromroad~', '~tender.claim.fromzip~' '~tender.claim.fromcity }} -->#}
                            {% endif %}
                        </td>
                        <td>
                            {% if tender.claim.remarkableplaceto != null %}
                            {{ tender.claim.remarkableplaceto.label }}
                            {% else %}
                            {{ tender.claim.tocity }}
                            {#<!-- {{ tender.claim.toroad~', '~tender.claim.tozip~' '~tender.claim.tocity }} -->#}
                            {% endif %}
                        </td>
                        <td>{% if tender.distance==0 %}Forfait{% else %}{{ tender.distance }}{% endif %}</td>
                        <td>{{ tender.price }}</td>
                        <td>
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <!-- VOIR devis (Tender) -->
                                <a class="btn btn-sm btn--action"
                                    href="{{ path('tender_read', {'id':tender.id}) }}"
                                >
                                    <i class="far fa-eye" title="Voir le devis"></i>
                                </a>
                            &emsp;+ autre action ?
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if not app.user.driver or app.user.driver.gettenders|length == 0 %}
                    <tr>
                        <td colspan="7">Pas de devis envoyé...</td>
                    </tr>
                    {% endif %}
                </tfoot>
            </table>

            <!-- tableau des Courses effectuées (Orders) -->
            <table class="table table-striped--CANCELED block--tabtype" id="block--tabtype--order" parent_id="btn--tabtype--order">
                <thead class="thead--dark--CANCELED">
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Demande du</th>
                        <th>Course le</th>
                        <th>Prise en charge</th>
                        <th>Destination</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Affiche les Courses en commençant par les + récentes -->
                </tbody>
                <tfoot>
                    {#{% if app.user.customer and app.user.customer.getclaims|length == 0 %}#}
                    <tr>
                        <td colspan="7">Vous n'avez encore pas effectué de course grâce à l'annuaire...</td>
                    </tr>
                    {#{% endif %}#}
                </tfoot>
            </table>
        </div>
    </div>

    <!-- ##### ^ FIN DES ELEMENTS PRINCIPAUX DE LA PAGE ^ ##### -->

<!-- ------------------------------------------------------ -->

    <!-- ##### v DEBUT DES MODALES v ##### -->

    <!-- Modal d'affichage des détails de la demande -->
    {% for claim in claims4me %}
    <!-- {#{% for claim in app.user.driver.getclaims %}#} -->
    <div class="modal--big-css_CANCELLED m-5 p-3" id="{{ 'modal--claim--'~claim.id }}" style="display:none;">

        <!-- Bouton "fixe" à afficher en même temps que toute Modale, pour fermeture de celle-ci -->
        <div class="btn--circle btn--hidemodal modal--closing" parent_id="{{ 'modal--claim--'~claim.id }}">X</div>
        
        <h2><U>DEMANDE DE COURSE RECUE</U></h2>

        <!-- Les détails de la demande et du client demandeur -->
        <div class="d-flex flex-row flex-wrap w-100 my-3">
            <!-- Les "détails" de la demande -->
            <div class="d-flex flex-column col-sm-12 col-xl-7">
                {{ include('claim/_card.html.twig') }}
            </div>
            <!-- Client... -->
            {% if claim.customer.user %}
            <div class="d-flex flex-column col-sm-12 col-xl-5">
                <h3>Reçue de :</h3>
                <!-- ... LA "carte utilisateur" du Customer à l'origine de la demande... -->
                <div class="d-flex flex-row flex-wrap">
                    <!-- ... LA "carte utilisateur" du demandeur... -->
                    {{ include('customer/_card.html.twig', {obUser: claim.customer.user}) }}
                </div>
            </div>
            {% endif %}
        </div>
        <br>
        <!-- Les boutons d'actions -->
        <div class="d-flex flex-row flex-wrap align-items-center">
            <h3>Traitement de la demande :</h3>
            &emsp;
            <!-- bouton du drapeau des status de la demande -->
            {% set obStatus=getstatus4claimanddriver(claim, driver) %}
            <!-- Etat du devis de réponse -->
            {% if obStatus and obStatus.tender %}
            <h4 style='font-style:italic;'>Devis envoyé le {{ obStatus.tender.tenderdatetime|date('d/m/Y') }}</h4>
            {% else %}
            <!-- bouton d'envoi d'un Tender en réponse à la Claim -->
            <a class="btn btn-sm btn--blue mb-1" id="btn--send-tender" data_id="{{ claim.id }}"
                href="{{ path('tender_create', {'claim': claim.id}) }}"
            >
                <i class="far fa-paper-plane"></i>&ensp;Retourner un devis
            </a>
            {% endif %}
            
            &emsp;
            <!-- Archivage/Réactualisation -->
            {#<!-- {% if obStatus and obStatus.tender %} -->#}
            <a class="btn btn-sm btn--secondary"
                style="background-color:lightgrey;color:black;"
                href="{{ path('driver_switchclaimstatus_archived', {'id':obStatus.id}) }}"
            >
                {% if obStatus.isarchivedbydriver %}
                <i class="fas fa-file-archive" style="color:orange;"></i>&ensp;Réactualiser
                {% else %}
                <i class="fas fa-inbox" style="color:blue;"></i>&ensp;Archiver
                {% endif %}
            </a>
            {#<!-- {% endif %} -->#}
        </div>

        <!-- Le bouton de "masquage" de la fenêtre modale (Javascript) -->
        <div class="btns--row">
            <button class="btn btn-sm btn--secondary btn--hidemodal"
                parent_id="{{ 'modal--claim--'~claim.id }}"
            >
                <i class="fas fa-times"></i>&ensp;Retour
            </button>
        </div>
    </div>
    {% endfor %}

    <!-- ##### v FIN DES MODALES v ##### -->

{% endblock %}
