
{% extends 'base.html.twig' %}
{% set Title="... du pilote" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

    {{ include('profile/banner.html.twig') }}
    
    <h2>Proposer ici au Driver de gérer ses demandes de courses (=> envoi de devis)...</h2>
    <h2> ... de gérer ses commandes en cours (=> contact client / annulation)</h2>
    <h2> ... de gérer ses courses exécutées (=> contact client / envoi facture)</h2>
    <h2> ... et évidemment, gestion modification de ses données personnelles et d'entreprise...</h2>

    <!-- CA MARCHE !!!... -->
    {#
        {{ dump('app.user.picture[0] :') }}
        {{ dump(app.user.picture[0]) }}
        #}

    <!-- CA MARCHE !!!... -->
    {#
        {{ dump('app.user.picture (Current = 6 ?) :') }}
        {{ dump(app.user.picture) }}
        {{ dump('app.user.picture.pathname : '~app.user.picture.pathname) }}
        {{ dump('app.user.picture.picturelabel.label : '~app.user.picture.picturelabel.label) }}
        #}

    
    <!-- NE FONCTIONNE PLUS SANS LIAISON-->
    {#
        {{ dump('app.user.driver (User('~app.user.id~') => Driver('~app.user.driver.id~') ?) :') }}
        {{ dump(app.user.driver) }}
        #}
    <!-- LES 2, CA MARCHE SI PAS DE LIAISON !!! -->
    {#
        {{ dump('Driver (TWIG ! getdriverbyid('~app.user.driver.id~')) :') }}
        {{ dump(getdriverbyid(app.user.driver.id)) }}
        {{ dump('Driver (variable driver) :') }}
        {{ dump(driver) }}
        #}

    <!-- LES 2, CA MARCHE SI PAS DE LIAISON !!! -->
    {#
        {{ dump('app.user.driver.company (User('~app.user.id~') => Driver('~app.user.driver.id~') => Company('~app.user.driver.company.id~') ?) :') }}
        {{ dump(app.user.driver.company) }}

        {{ dump('Company(TWIG ! getcompanybyid('~app.user.driver.company.id~')) :') }}
        {{ dump(getcompanybyid(app.user.driver.company.id)) }}
        {{ dump('Company(variable company) :') }}
        {{ dump(company) }}
        #}

    {% if app.user %}

    {% endif %}

{% endblock %}
