{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<!-- Zone d'affichage des messages "FLASH" venant du Controller -->
{{ include('_flash.html.twig') }}

{% if app.user %}
    <div class="alert alert-warning mx-3 my-1">
        Vous êtes connecté en tant que ' {{ app.user.firstname }} {{ app.user.lastname }} ',
        avec l'adresse électronique ' {{ app.user.username }} '.
        &emsp;
        <a class="btn-sm btn-danger" href="{{ path('security_logout') }}">Se déconnecter</a>
    </div>
{% endif %}

<div class="container-fluid mt-3 mb-3 w-75">

    <!-- Saisie de l'adresse électronique en vue de lancer la procédure de "Redéfinition du MdP" -->
    <form class="card--3D-vertical p-3" id="modal--reset--pwd" method="post" novalidate>

    <!-- style="display:none;position:relative;" novalidate> -->
        <!---->
        <h1 class="h3 mb-3 font-weight-normal cl-md-3">Courriel de récupération de 'Mot de passe' :</h1>
        <!---->

        <!-- Bouton "fixe" à afficher en même temps que toute Modale, pour fermeture de celle-ci -->
        <!-- <div class="btn--circle btn--hidemodal card--closing" parent_id="modal--reset--pwd">X</div> -->
        
        <div class="m-3">
            <label class="required" for="inputEmail">Adresse électronique :</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placholder="ex: mon@email.fr" required autofocus>
        </div>
        {% if error_email is defined and error_email != null %}
        <span class="d-block">
            <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
            <small class="form-error-message">Indiquez votre adresse pour réinitialiser votre mot de passe.</small>
        </span>
        {% endif %}

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        
        <div class="btns--row">
            <!-- <div class="d-flex justify-content-around mb-3 w-100"> -->
            <button class="btn btn-sm btn--blue" type="submit" form="modal--reset--pwd">
                <i class="far fa-paper-plane"></i>&ensp;Envoyer
            </button>
            
            {#<!-- {% set http_referer=app.request.server.get('HTTP_REFERER') %}
            {% if http_referer == null %}
                {% set http_referer= app.request.server.get('HTTP_HOST') ~ path('security_login') %}
            {% endif %}
            <a class="btn btn-sm btn--secondary" href="{{ http_referer }}"> -->#}
            <a class="btn btn-sm btn--secondary" href="{{ path('security_login') }}">
                <i class="fas fa-times"></i>&ensp;Retour
            </a>
        </div>
        <small style="color:red;">(* champs obligatoire)</small>
    </form>
</div>
{% endblock %}
