{% extends 'base.html.twig' %}
{% set Title="... des taux de TVA relatifs aux raisons sociales" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

<!-- Admin Controller banner -->
{{ include('admin/_banner.html.twig') }}

<div class="paragraph--large" id="blk--2hide-ifmodal">

    <form class="d-flex flex-column justify-content-center align-items-center" id="assoccreation" method="post">

        <div class="d-flex flex-row flex-wrap w-100 justify-content-around">
            <!-- Les raisons sociales -->
            <div class="d-flex flex-column mt-2">
                <label>Raisons sociales :</label>
                <select class="form-control" id="select--socialreason" name="socialreason" size="8">
                    <optgroup label="-- Choisissez une raison sociale --">
                        {% for socialreason in getsocialreasons() %}
                        <option value="{{ socialreason.id }}">{{ socialreason.label }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <!-- Les taux de TVA -->
            <div class="d-flex flex-column mt-2">
                <label>Taux de TVA (%) :</label>
                <select class="form-control" id="select--tva" name="tva" size="8">
                    <optgroup label="-- Choisissez un taux de TVA --">
                        {% for tva in gettvarates() %}
                        <option value="{{ tva.id }}">{{ tva.value }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
        </div>

        <!-- Bouton de validation -->
        <br>
        <button class="btn btn-sm btn--green" id='btn--associate--socialreason-tva' type="submit" form="assoccreation">
            <i class="ri-record-circle-line"></i>&ensp;Ajouter l'association
        </button>
    </form>

    <!-- Tableaux des associations -->
    <div class="paragraph--large">
        <table class="table table-hover table-striped">
            <h2 class="title--h2">Associations Raison sociale / Taux de TVA</h2>
            <thead class="thead--dark">
                <tr>
                    <th></th>
                    <th>Raison sociale</th>
                    <th>Taux de TVA</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for assoc in getassocsocialreasontva() %}
                <tr>
                    <td></td>
                    <td>{{ assoc['socialreason_label'] }}</td>
                    <td>{{ assoc['tva_value'] }}</td>
                    <td>{{ assoc['tva_comment'] }}</td>
                    <td>
                        {{ include('socialreason/_delete_form.html.twig', 
                                    {socialreason: assoc['socialreason_id'], tva: assoc['tva_id']}
                                )
                        }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=""></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
