{% extends 'base.html.twig' %}

{% block title %}Enregistrement d'un nouveau pilote{% endblock %}

{% block body %}

    <!-- Zone d'affichage des messages "FLASH" venant du Controller -->
    {{ include('_flash.html.twig') }}

    <div class="paragraph--large" method="post"> 
        <h1 class="title--h2">Enregistrez-vous : <small class="small-title-message">(* champs obligatoire)</small></h1>
        <!-- *** DEBUT de la Carte3D *** -->
        <div class="card--3D-vertical">

            <!-- Common Form to choose Company object in existing list -->
            {{ include('company/_form-companies.html.twig') }}

            <!-- ** FORMULAIRE PRINCIPAL DE CREATION DU PILOTE AVEC SON ENTREPRISE ** -->
            <form id="blk--company2create" method="post" enctype="multipart/form-data"  novalidate>
                <!--  id="formregistrationdriver" -->
                <div class="card--horizontal mb-4">
                    
                <!-- BlockS de données de l'entreprise T3P + données propres au pilote -->
                <div class="d-flex flex-row flex-wrap justify-content-between">

                    <!-- Block de données de la company T3P -->
                    {{ include('company/_form-company.html.twig') }}

                    <!-- Block de données propres au pilote -->
                    {{ include('driver/_form.html.twig') }}

                </div>
            </div>

                <!-- Déclaration de véracité des informations -->
                <div class="d-flex flex-row flex-wrap ml-4 mb-2">
                    <input type="checkbox" id="hasconfirmedgoodstanding"
                        name="hasconfirmedgoodstanding" required
                        {% if hasconfirmedgoodstanding =='on' %}checked{% endif %}
                    />
                    <p>&ensp;</p>
                    <label for="hasconfirmedgoodstanding">" En cochant cette case,</label>
                    &ensp;
                    <label for="hasconfirmedgoodstanding">je certifie être en règle pour l'exercice</label>
                    &ensp;
                    <label for="hasconfirmedgoodstanding">de la profession de chauffeur VMDTR,</label>
                    &ensp;
                    <label class="required" for="hasconfirmedgoodstanding">et l'exactitude de mes déclarations. "</label>
                    {% if error_hasconfirmedgoodstanding is defined and error_hasconfirmedgoodstanding is not null %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">Vous devez cocher la case de confirmation de l'exactitude des déclarations.</small>
                    </span>
                    {% endif %}
                </div>

                <!-- Boutons de sortie -->
                <div class="btns--row mb-2">
                    <button class="btn btn-sm btn--blue" type="submit">
                        <i class="ri-record-circle-line"></i>&ensp;Créer le compte
                    </button>
                    <!--  form="formregistrationdriver" -->
                    <a class="btn btn-bg btn--secondary" href="{{ path('profile_user',{'id': app.user.id}) }}">
                        <i class="fas fa-times"></i>&ensp;Annuler
                    </a>
                </div>
                <!-- <a href="https://www.francecompetences.fr/recherche/rs/3864/">Consulter les Conditions Générales d'Utilisation</a> -->

            </form><!-- ** FIN DU FORMULAIRE ** -->
        </div><!-- FIN de la Carte3D -->
    </div>
{% endblock %}
