<span>
    <br>
    <blockquote>Cher(e) {{ firstname }},</blockquote>

    <p>Votre demande de référencement comme chauffeur VMDTR dans l'annuaire 2Wheels4Motion a bien été prise en compte.</p>
    <p>L'administrateur a été informé de votre demande et pourra après quelques vérifications valider votre inscription. Vous pourrez alors profiter de la visibilité de 2Wheels4Motion pour trouver de nouveaux clients.</p>
    <!-- <br> -->
    <p>Autre avantage pour vous, la plateforme va vous permettre d'envoyer un devis automatiquement rempli, en réponse à une demande de "transport", ainsi que la facture.</p>
    <p>Toutefois, pour se faire, nous allons vérifier ici ensemble les informations que vous avez rentrées au moment de votre demande de référencement.</p>
    <!-- <br> -->
    <p>Vous avez déclaré être titulaire de la carte professionnelle de chauffeur VMDTR numéro {{ vmdtrnumber }}, valide jusqu'au {{ vmdtrvalidity }}.</p>
    <p>Nous vous rappellons que votre visite médicale au permis de conduire doit-être en cours de validité...
        Votre véhicule professionnel "{{ motomodel }}" doit répondre aux critères d'exigeance du métier, et être assuré.
        De même, vous êtes dans l'obligation d'avoir souscrit une assurance professionnelle spécifique au "Transport de personnes à titre onéreux".
    </p>
    <!-- <br> -->
    <p>Vous avez déclaré travailler pour l'entité enregistrée sous le nom de "{{ name }}" au numéro SIREN/SIRET {{ siren~nic }}, et domiciliée à l'adresse postale :</p>
    <b>
        <p>{{ name }}</p>
        <p>{{ road }}</p>
        <p>{{ zip~'  '~city}}</p>
    </b>
    <!-- <br> -->
    <p>Lors de votre demande de référencement comme chauffeur VMDTR, vous avez cocher la case confirmant que vous reconnaissiez respecter toutes les exigeances liées à l'exercice de cette profession, et par conséquent dégager l'Annuaire 2Wheels4Motion de toute responsabilité.</p>
    <p>La confirmation de votre référencement ne devrait pas être très longue, vous recevrez un autre courriel pour vous confirmer votre visibilité dans l'annuaire.</p>
    <!-- <br> -->
    <p>Pour votre information, sachez que le site de cet Annuaire a été créé dans le cadre de sa soutenance, par un chauffeur VMDTR devenu développeur WEB, et est hébergé a raison d'un loyer dont il supporte seul le coût.</p>
    <p>Pour le maintien de ce service, continuer à bénéficier de ses avantages, et continuer à profiter de cette source potentielle de clients, vous pouvez effectuer une donnation par Paypal à l'aide du lien situé sur le site lui-même.</p>
    <!-- <br> -->
    <p>A bientôt, en espérant que l'Annaire 2Wheels4Motion saura répondre à vos attentes.</p>
</span>