{% extends 'base.html.twig' %}

{% block title %}Présentation des pilotes{% endblock %}

{% block body %}

<!-- Driver Controller banner -->
{{ include('driver/banner.html.twig') }}

<section class="paragraph--large" id="section--presentation">
    <h2 class="title--h2" id="services--title">Les pilotes...</h2>
    <div class="card--3D-horizontal">
        <!-- <p>
            Actuellement, 
            {% if drivers is not defined or drivers|length == 0 %}
                aucun pilote ne s'est encore inscrit
            {% else %}
                {{ drivers|length }} pilotes se sont déjà inscrits
            {% endif %}
            dans cet annuaire.
        </p> -->
        {% if drivers is defined and drivers|length > 0 %}
        <table class="table table-striped table--txtlight">
            <thead class="thead--light">
                <tr>
                    <th>Prénom Nom</th>
                    <th>Dépt.</th>
                    <th>Région</th>
                    <th>Moto</th>
                    <th>Nb. de courses effectuées</th>
                    <th>Appréciations des usagers</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for oDriver in drivers %}
                {% if oDriver.users[0] is defined %}
                    {% set oUser=oDriver.users[0] %}
                    {% set oCompany=oDriver.company %}
                    <tr>
                        <th>{{ oUser.firstname~' '~oUser.lastname }}</th>
                        <th>{{ oCompany.zip|slice(0,2) }}</th>
                        <th>{{ getregionbycode(getdepartmentbycode(oCompany.zip|slice(0,2)).region_code).name }}</th>
                        <th>{{ oDriver.motomodel }}</th>
                        <th>'à développer'</th>
                        <th>'à développer'</th>
                        <th>
                            <a href="{{ path('driver_profile', {'id': oDriver.id}) }}" title="Voir sa fiche" class="mr-2">
                                <i class="ri-eye-line"></i>
                            </a>
                            <a href="{{ 'mailto:' ~ oUser.email }}" title="Lui envoyer un courriel">
                                <i class="ri-mail-send-line"></i>
                            </a>
                            <a href="{{ 'tel:' ~ oUser.phone }}" title="Lui téléphoner" class="ml-2">
                                <i class="ri-phone-line"></i>
                            </a>
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</section>

<section class="paragraph--large" id="section--invitation">
    <p>
        Si vous êtes vous-même détenteur de la carte professionnelle de conducteur VMDTR,
        que vous êtes immatriculé au répertoire des métiers, et disposez de votre propre véhicule,
        inscrivez-vous ici afin d'être référencé et de profiter d'une plus large visibilité.
        Vous recevrez des demandes de courses par courriel, ou pourrez même être directement contacté
        par toute personne consultant cet annuaire dans le but de trouver un taxi-moto.
        <br>
        <h5> Plus nous serons de conducteurs référencés, plus la visibilité de cet annuaire et son utilisation pour nous trouver se fera...</h5>
    </p>
    <p>
        (pour vous renseigner à propos de l'immatriculation au répertoire des métiers,
        rendez-vous sur le site des 
        <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23264" target="_blanck">
            services publics
        </a>
        )
    </p>
</section>

{% endblock %}