{% extends 'base.html.twig' %}
{% set Title="Accueil" %}

{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('adding_to_cart') %}
        <div class="alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashError in app.flashes('register-success') %}
        <div class="alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}

    <!-- DEBUT Homepage banner -->
    <section class="homepage--banner" id="banner" style="background-image:url({{ asset(sImgPath ~'banner/honda_gl1800_2018_deux_models-750x410.jpg') }});">
        <H1>L'ANNUAIRE DES TAXIS-MOTO DE FRANCE</H1>
        
        <a class="btn btn--ordering" href="{{ path('claim_create') }}">
            <i class="fas fa-motorcycle"></i>&nbsp;Commander une course
        </a>
        
        <!-- internal page menu, to navigate to ID -->
        <div id="nav--inpage">
            <a class="btn nav--btn--white" href="#section--services">A votre service</a>
            <a class="btn nav--btn--white" href="#section--advices">L'avis des utilisateurs</a>
            <a class="btn nav--btn--white" href="#section--pro">Professionnalisme</a>
            <a class="btn nav--btn--white" href="#section--equipments">Les équipements passager</a>
            <a class="btn nav--btn--white" href="#section--bikes">Les motos</a>
            <a class="btn nav--btn--white" href="#section--luggages">Les bagages</a>
        </div>
    </section>
    <!-- FIN Homepage banner -->

    <!-- Job description -->
    <!--------------------->
    <section class="paragraph--large" id="section--services">
        <h2 class="title--h2" id="services--title">Vous servir...</h2>
        <div class="card--3D-horizontal">
            <p class="card--paragraph col-md-12 col-lg-8" id="services--p">
                Vous avez besoin d'effectuer des transferts, sans risquer d'être en retard ? Votre temps est précieux et vous voudriez optimiser vos temps de trajets ?
                Assurez-vous les services d'un professionnel pour tous vos déplacements, et passé au moto-taxi...
                <br><br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, dolor expedita consequatur quisquam totam molestias sunt ab est nemo deserunt voluptates libero? Quo voluptas magni, id ipsa soluta laborum rem?
                Totam sunt rerum blanditiis debitis facere! Ex autem quam similique corrupti temporibus vero quae qui repudiandae, nobis distinctio, delectus minima laborum tempora nostrum neque molestiae modi ullam, dolores asperiores id!
            </p>
            <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/embouteillage.jpg') }}" alt="Photo d'un embouteillage">
        </div>
    </section>
    <!-- -->

    <!-- Les (3 max.) derniers Avis sur l'Annuaire -->
    <!----------------------------------------------->
    <section class="paragraph--large" id="section--advices">
        {#{% if siteadvices_last is defined %}#}
        <h2 class="title--h2" id="advices--title">L'avis des utilisateurs de l'annuaire</h2>
        <div class="card--inset" id="advices--3lasts">
            <!-- <div class="card--inset"> -->
                {#{% for advice in siteadvices_last %}#}
                <div class="card--advice card--3D-vertical col-12 col-md-4 col-xl-3">
                    <div class='d-flex flex-row justify-content-between'>
                        <div>
                            <h4>Prénom</h4>
                            <p>Inscrit depuis le 04-06-2021</p>
                        </div>
                        <div style='height:10px;'>
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                        </div>
                    </div>
                    <!-- <hr> -->
                    <span>
                        Ce site est génial !
                        Facile de compréhension, on trouve facilement et rapidement l'information concernant la réponse possible à notre besoin.
                        Les pilotes sont très pros, toujours ponctuels et courtois. Pour les passagers débutants, ils savent mettre en confiance...
                    </span>
                </div>
                <div class="card--advice card--3D-vertical col-12 col-md-4 col-xl-3">
                    <div class='d-flex flex-row justify-content-between'>
                        <div>
                            <h4>Prénom</h4>
                            <p>Inscrit depuis le 04-06-2021</p>
                        </div>
                        <div style='height:10px;'>
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                        </div>
                    </div>
                    <!-- <hr> -->
                    <span>
                        Ce site est génial !
                    </span>
                </div>
                <div class="card--advice card--3D-vertical col-12 col-md-4 col-xl-3">
                    <div class='d-flex flex-row justify-content-between'>
                        <div>
                            <h4>Prénom</h4>
                            <p>Inscrit depuis le 04-06-2021</p>
                        </div>
                        <div style='height:10px;'>
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                        </div>
                    </div>
                    <!-- <hr> -->
                    <span>
                        Ce site est génial !
                        Facile de compréhension, on trouve facilement et rapidement l'information concernant la réponse possible à notre besoin.
                        Les pilotes sont très pros, toujours ponctuels et courtois. Pour les passagers débutants, ils savent mettre en confiance...
                    </span>
                </div>
                {#{% endfor %}#}
            <!-- </div> -->
        </div>
        <br>
        {#{% endif %}#}
        {#{% if siteadvices_extrem is defined %}#}
        <div class="card--inset" id="advices--best&worst">
            <!-- <div class="d-flex flex-row flex-wrap col-12 justify-content-center"> -->
                {#{% for advice in siteadvices_extrem %}#}
                <div class="card--advice card--3D-vertical col-12 col-xl-5">
                    <div class='d-flex flex-row justify-content-between'>
                        <div>
                            <h4>Prénom</h4>
                            <p>Inscrit depuis le 04-06-2021</p>
                        </div>
                        <div style='height:10px;'>
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_1.png') }}" alt="">
                        </div>
                    </div>
                    <!-- <hr> -->
                    <span>
                        Le meilleur des avis !
                        J'peux plus m'en passeerrrrr.......
                    </span>
                </div>
                <div class="card--advice card--3D-vertical col-12 col-xl-5">
                    <div class='d-flex flex-row justify-content-between'>
                        <div>
                            <h4>Prénom</h4>
                            <p>Inscrit depuis le 04-06-2021</p>
                        </div>
                        <div style='height:10px;'>
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_0.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_0.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_0.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_0.png') }}" alt="">
                            <img style='height:20px;' src="{{ asset(sImgPath ~'misc/star_0.png') }}" alt="">
                        </div>
                    </div>
                    <!-- <hr> -->
                    <span>
                        Le pire des avis !
                        A fuir...
                    </span>
                </div>
                {#{% endfor %}#}
            <!-- </div> -->
        </div>
        {#{% endif %}#}
    </section>

    <!-- Professionnals listing presentation -->
    <!----------------------------------------->
    <section class="paragraph--large" id="section--pro">
        <h2 class="title--h2" id="pro--title">Des professionnels sur qui compter...</h2>
        <div class="card--3D-horizontal">
            <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/Vignette-VMDTR.png') }}" alt="Photo d'une vignette VMDTR">
            <p class="card--paragraph col-md-12 col-lg-8" id="pro--p">
                Tous les pilotes référencés sont des auto-entrepreneurs, réunissant toutes les conditions d'exercice de la profession de transport de personne.
                Cela signifie que tous ont suivi la formation VMDTR, et ont justifié la détention et la validité des documents ci-dessous :
                <br>- carte pro
                <br>- visite médicale
                <br>- une assurance spécifique transport de personnes à titre onéreux est obligatoire
            </p>
            <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-Pratique/Fiches-pratiques/taxis-vtc-loti-motos-pro" target="_blank">
                Pour obtenir plus d'information, consulter le site de la Direction Générale de la Concurrence,
                de la Consommation et de la Répression des Fraudes (DGCCRF)
            </a>
        </div>
    </section>
    <!-- -->
    <section class="paragraph--large" id="section--equipments">
        <h2 class="title--h2" id="equipments--title">Les équipements indispensables...</h2>
        <div class="card--3D-horizontal" style="justify-content: center;">
            <p class="card--paragraph" id="equipments--p">
                <br>- Charlotte
                <br>- casque
                <br>- gants
                <br>- veste avec airbag...
                Pour vous garantir une totale protection contre la COVID-19, tous les équipements sont désinfectés 
                après chaque utilisation.
            </p>
            <div class="card--horizontal">
                <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/charlotte.jpg') }}" alt="Photo d'une charlotte">
                <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/casque.jpg') }}" alt="Photo d'un casque">
                <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/gants.jpg') }}" alt="Photo de gants">
                <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/veste-airbag.jpg') }}" alt="Photo d'une veste">
            </div>
        </div>
    </section>
    <!-- -->
    <section class="paragraph--large" id="section--bikes">
        <h2 class="title--h2" id="bikes--title">Les motos</h2>
        <div class="card--3D-horizontal" style="justify-content: center;">
            <p class="card--paragraph" id="bikes--p">
                La profession impose une catégorie de moto. De plus, celles-ci doivent avoir moins de 5 ans.
                <br>- Honda Goldwing
                <br>- BMW K1600B
                <br>
                Toutes les machines proposent une jupes de protection en cas de pluie, et d'un porte-paquet
            </p>
            <div class="card--horizontal">
                <img class="card--imgrectangular" style="width:340px;" src="{{ asset(sImgPath ~'homepage/honda_gl1800_topbox_dct_studio-750x410_grey.jpg') }}" alt="Photo Honda Goldwing">
                <img class="card--imgrectangular" style="width:275px;" src="{{ asset(sImgPath ~'homepage/BMW K1600GTL Exclusive.png') }}" alt="Photo d'un embouteillage">
            </div>
        </div>
    </section>
    <!-- -->
    <section class="paragraph--large" id="section--luggages">
        <h2 class="title--h2" id="luggages--title">Les bagages</h2>
        <div class="card--3D-horizontal" style="justify-content: center;">
            <img class="card--imgsquare" src="{{ asset(sImgPath ~'homepage/luggages.jpg') }}" alt="Photo d'une vignette VMDTR">
            <p class="card--paragraph col-md-12 col-lg-8" id="luggages--p">
                Les motos sont équipées d'un porte-paquet permettant le transport d'une valise cabine,
                d'une scoche d'ordinateur portable, et si vous aviez besoin,
                un sac à dos en position ventrale doit pouvoir passer...
            </p>
        </div>
    </section>
{% endblock %}
