{% set depts=getdepartments() %}
<section class="paragraph--large">

    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
        <h2 class="title--h2">Mise à jour d'un tarif...</h2>
        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
            <a class="btn btn-sm btn--secondary" href="{{ path('admin_flatrate_read') }}">
                <i class="ri-file-list-3-line"></i>&ensp;Retour à la liste
            </a>
            &emsp;
            {% if flatrate %}
                {{ include('flatrate/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>

    <table class="table table-striped">
        <thead class="thead--dark">
            <tr>
                <th style="width:1%;"></th>
                <th style="width:30%;"><label class="required" for="inputlabel">Libellé</label></th>
                <th style="width:10%;"><label class="required" for="inputprice">Prix</label></th>
                <th style="width:15%;"><label for="inputflatrate">Forfait (* PCI)</label></th>
                <th style="width:25%;"><label for="claim_form_to_departments">Département</label></th>
                <th style="width:15%;"><label>Actions</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form class="mt-4 mb-4" id="formupdate" method="post">
                    <td></td>
                    <td width="20%"><input type="text" class="form-control" id="inputlabel" value="{% if flatrate %}{{ flatrate.label }}{% endif %}" name="label" size="50" required/></td>
                    <td><input type="text" class="form-control" id="inputprice" value="{% if flatrate %}{{ flatrate.price }}{% endif %}" name="price" size="5" required/></td>
                    <td>
                        <div class="d-flex flex-row">
                            <div class="col-4"></div>
                            <div>
                                <input id="inputflatrate" type="checkbox" name="pickupincluded"
                                    {% if flatrate and flatrate.pickupincluded %}checked{% endif %}
                                />
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if depts is defined and depts is not null %}
                        <select class="form-control departments" id="claim_form_to_departments"
                            name="department" title="departments"
                        >
                            <option value="" name="all">Tous</option>
                            {% for dept in depts %}
                            
                            <option value="{{ dept.code }}" name="{{ dept.code }}" 
                                {% if flatrate is defined and flatrate is not null and flatrate.departmentcode==dept.code %}selected="selected"{% endif %}
                            >
                                {{ dept.name~' ('~dept.code~')' }}
                            </option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-sm btn--blue mr-2" type="submit" title="Sauvegarder" form="formupdate">
                            <i class="ri-save-line"></i>&ensp;Sauvegarder
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    * PCI = Prise en Charge Incluse
                </td>
            </tr>
        </tfoot>
    </table>
    
</section>
