
{% extends 'base.html.twig' %}

{% block title %}Les tarifs et forfaits{% endblock %}

{% block body %}

<!-- Flatrate Controller banner -->
{{ include('flatrate/banner.html.twig') }}

<!-- Zone d'affichage des messages "FLASH" venant du Controller -->
{{ include('flash.html.twig') }}

<section class="paragraph--large">
    <h2 class="title--h2">Vous servir... au juste prix !</h2>
    <div class="card--3D-horizontal">
        <p class="col-md-12 col-lg-8">
            Les tarifs pratiqués ici sont déterminés sur la base de ceux pratiqués par toute la profession, quelque soit la région.
            Ils ont été proposés par les professionnels référencés dans cet annuaire, selon les tarifs pratiqués dans leur région...
            <br>
            Concernant les modes de paiement, tous les chauffeurs ne disposent pas d'appareils permettant les paiement par carte bancaire.
            Pensez à communiquer préalablement afin de vous munir du mode de paiement qui conviendra.
        </p>
        <img class="card--imground-200" src="{{ asset(sImgPath ~'misc/sumup.png') }}" alt="Photo d'un sumUp">
    </div>
</section>


<section class="paragraph--large">
    <h2 class="title--h2">Les tarifs...</h2>
    {% if flatrates %}
    <table class="table table-striped">
        <thead class="thead--dark">
            <tr>
                <th style="width:5%;"></th>
                <th>Région / Dépt.</th>
                <th>Libellé</th>
                <th>Prix (euros)</th>
                <th>Prise en charge incluse</th>
            </tr>
        </thead>
        <tbody>
            {% for flatrate in flatrates %}
            <tr>
                <td></td>
                <td>
                    {% if flatrate.departmentcode is defined and flatrate.departmentcode is not null and flatrate.departmentcode !='' %}
                        {% set obDepartment=getdepartmentbycode(flatrate.departmentcode) %}
                        {{ getregionbycode(obDepartment.region_code).name~' / '~obDepartment.name }}
                    {% else %}
                    &emsp;&emsp;-
                    {% endif %}
                </td>
                <td>{{ flatrate.label }}</td>
                <td>&emsp;&emsp;{{ flatrate.price }}</td>
                <td>
                    <div class="d-flex flex-row">
                        <div class="col-2"></div>
                        <div>
                            &emsp;&emsp;
                            {% if flatrate.label ends with "(hors forfait)" %}<!-- {#{% if 'charge' in flatrate.label %}#} -->
                            n.c.
                            {% elseif flatrate.pickupincluded %}
                            <img class="img--boolean"
                                src="{{ asset(sImgPath ~'misc/true.png') }}"
                                alt="image pour booléen TRUE"
                            >
                            {% else %}
                            <img class="img--boolean"
                                src="{{ asset(sImgPath ~'misc/false.png') }}"
                                alt="image pour booléen FALSE"
                            >
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
</section>

{% endblock %}