
{% extends 'base.html.twig' %}

{% block title %}Les tarifs et forfaits{% endblock %}

{% block body %}

<!-- Flatrate Controller banner -->
{{ include('flatrate/_banner.html.twig') }}

<!-- Zone d'affichage des messages "FLASH" venant du Controller -->
{{ include('_flash.html.twig') }}

<section class="paragraph--large">
    <h2 class="title--h2">Vous servir... au juste prix !</h2>
    <div class="card--3D-horizontal">
        <p class="col-md-12 col-lg-8">
            Les tarifs présentés ici sont <u>indicatifs</u>, ils sont déterminés sur la moyenne de ceux pratiqués par l'ensemble de la profession, pour la région associée.
            Ils ont été proposés par les professionnels référencés dans cet annuaire, selon leurs habitudes.
            Suite à votre demande, les pilotes vous proposeront un devis détaillé pouvant légèrement varier par rapport à la grille tarifaire ci-dessous, selon les heures, vos bagages, etc... 
            <br>
            Concernant les modes de paiement, tous les chauffeurs ne disposent pas d'appareils permettant les paiement par carte bancaire.
            Pensez à communiquer préalablement afin de vous munir du mode de paiement qui conviendra.
        </p>
        <img class="card--imground-200" src="{{ asset(sImgPath ~'misc/sumup.png') }}" alt="Photo d'un sumUp">
    </div>
</section>


{% if flatrates is defined and flatrates is not null %}
<section class="paragraph--large">
    <h2 class="title--h2">Les tarifs...</h2>

    <table class="table table-striped">
        <thead class="thead--dark">
            <tr>
                <th style="width:5%;"></th>
                <th>{{ include('geography/_selectregion.html.twig', {id:'select--region'}) }}</th>
                <th>Libellé</th>
                <th>Prix (euros)</th>
                <th>Prise en charge incluse</th>
            </tr>
        </thead>
        <tbody>
            {% for flatrate in flatrates %}
            <tr class="tr--filtered {{ 'select--region_'~flatrate.regioncode }}"
                parent_id="select--region"
            >
                <td></td>
                <td>
                    {% if flatrate.regioncode is defined and flatrate.regioncode is not null and flatrate.regioncode !='' %}
                        {% set obRegion=getregionbycode(flatrate.regioncode) %}
                        {{ obRegion.name }}
                    {% else %}
                    &emsp;&emsp;&emsp;-
                    {% endif %}
                </td>
                <td>{{ flatrate.label }}</td>
                <td>&emsp;&emsp;{{ flatrate.price }}</td>
                <td>
                    <div class="d-flex flex-row">
                        <div class="col-2"></div>
                        <div>
                            &emsp;&emsp;
                            {% if flatrate.label ends with "(hors forfait)" %}<!-- {#{% if 'charge' in flatrate.label %}#} -->
                            n.c.
                            {% elseif flatrate.pickupincluded %}
                            <img class="img--boolean"
                                src="{{ asset(sImgPath ~'misc/true.png') }}"
                                alt="image pour booléen TRUE"
                            >
                            {% else %}
                            <img class="img--boolean"
                                src="{{ asset(sImgPath ~'misc/false.png') }}"
                                alt="image pour booléen FALSE"
                            >
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</section>
{% endif %}

{% endblock %}