
{% extends 'base.html.twig' %}
{% set Title="... des tarifs" %}
{% block title %}{{ parent() }} - {{ Title }}{% endblock %}

{% block body %}

<!-- Admin Controller banner -->
{{ include('admin/banner.html.twig') }}

<section class="paragraph--large" id="section--presentation">
    <h2 class="title--h2" id="services--title">Les tarifs...</h2>
    {% if flatrates %}
    <table class="table table-striped table--txtlight">
        <thead class="thead--light">
            <tr>
                <th style="width:5%;"></th>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Prise en charge incluse (forfait)</th>
                <th>Actions
                    &nbsp;
                    <a class="btn btn-sm btn-success" href="{{ path('flatrate_create') }}">
                        <i class="ri-add-circle-line"></i>
                        Ajouter un nouveau tarif
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for flatrate in flatrates %}
            <tr>
                <td></td>
                <td>{{ flatrate.label }}</td>
                <td>{{ flatrate.price }}</td>
                <td>
                    <div class="d-flex flex-row">
                        <div class="col-4"></div>
                        <div>
                            <input type="checkbox" disabled
                                {% if flatrate.pickupincluded %}checked{% endif %}
                            />
                        </div>
                    </div>
                </td>
                <td class="d-flex flex-row">
                    <a class="btn btn-sm btn--blue" href="{{ path('flatrate_update', {'flatrate': flatrate.id}) }}" title="Modifier" class="mr-2">
                        <i class="ri-edit-2-line"></i>
                        &nbsp;
                        Modifier
                    </a>
                    &emsp;
                    {{ include('flatrate/_delete_form.html.twig') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
</section>


{% endblock %}
