
        <!-- ** Block de listes des entreprises existantes disponibles à la sélection ** -->
        <div class="mt-1 mb-2 col-12" id="blk--companies2choice">
            <!-- <div class="mt-1 mb-2 col-lg-12 col-xl-5" id="blk--companies2choice"> -->
            {% if allcompaniesknown is defined %}
            <form method="post" novalidate>
                <table class="table table-striped">
                    <thead class="thead--dark">
                        <tr>
                            <th>Choisir</th>
                            <th>Nom</th>
                            <th>SIREN</th>
                            <th>NIC</th>
                            <th>Voie</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for companyknown in allcompaniesknown %}
                    <tr>
                        {#{{ dump(companyknown) }}#}
                        <td>&emsp;
                            <input type="radio" class="companyknown" name="companychoosen" 
                                value="{{ companyknown.id }}" id="{{ companyknown.id }}"
                                {% if company is defined and company is not null and company==companyknown %}
                                checked
                                {% endif %}
                            ><!-- onClick="showSubmitButton()" -->
                        </td>
                        <td><label for="{{ companyknown.id }}">{{ companyknown.name }}</label></td>
                        <td><label for="{{ companyknown.id }}">{{ companyknown.siren }}</label></td>
                        <td><label for="{{ companyknown.id }}">{{ companyknown.nic }}</label></td>
                        <td><label for="{{ companyknown.id }}">{{ companyknown.road }}</label></td>
                        <td><label for="{{ companyknown.id }}">{{ companyknown.zip }}</label></td>
                        <td><label for="{{ companyknown.id }}">{{ companyknown.city }}</label></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colsmall="7">Aucun article trouvé</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- Boutons de sortie -->
                <div class="btns--row">
                    <button class="btn btn-sm btn--blue" id='btn--associate-company' type="submit">
                        <i class="ri-record-circle-line"></i>&ensp;Associer la société choisie
                    </button>
                    {% if controller_name is defined and controller_name=='RegistrationController' %}
                    <a class="btn btn-sm btn--secondary" href="{{ path('registration_driver', {'id': app.user.id}) }}">
                    {% elseif controller_name is defined and controller_name=='ProfileController' %}
                    <a class="btn btn-sm btn--secondary" id="btn--companies-exit">
                    {% else %}
                    {% endif %}
                        <i class="fas fa-times"></i>&ensp;Retourner déclarer une nouvelle société
                    </a>
                </div>
            </form>
            {% endif %}
        </div>