<!-- settings variables for Icon managing -->
{% set sImgPath="build/images/" %}
{% set sFaviconFullname=sImgPath ~ "banner/favicon.png" %}

<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- -->
        <meta name="description" content="Annuaire moto-taxi taxi-moto toute la France"/>
        <meta name="author" content="BIROLINI Herve"/>
        
        <link rel="icon" type="image/png" href="{{ asset(sFaviconFullname) }}"/>
        <title>{% block title %}2 Wheels 4 Motion{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX
        #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!-- LINK nécessaire pour bénéficier de la balise I, de CDN Font Awesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    </head>
    <body>
        <!-- {# ["ROLE_ADMIN"] #} -->
        <header id="header--header">
            {% if app.user %}
            <div class="align-self-end mt-2 mr-3">
                <b>Bonjour et bienvenue {{ app.user.firstname }}</b>
            </div>
            {% endif %}
            <!-- Container nécessaire pour occuper 100% de la largeur du Header -->
            <div class="container--nav">
                <!-- DEBUT Logo & Marque -->
                <div id="nav--brand">
                    <a href="{{ path('homepage') }}"><img class="nav--logo ml-3" src="{{ asset(sFaviconFullname) }}" alt="logo annuaire moto-taxi"></img></a>
                    <div class="nav--words">
                        <h2 class="nav--words-h2 m-2">2Wheels4Motion:</h2>
                        <h4 class="nav--words-h4 m-2">"Les transferts qui (r)assurent"</h4>
                    </div>
                </div>
                <!-- DEBUT Menu de navigation -->
                <div class="nav--bar navbar navbar-expand-lg navbar-light"><!--  bg-dark"> -->
                    <!-- DEBUT bouton "Burger" -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler-icon">-</span>
                    </button>
                    <!-- FIN bouton "Burger" -->
                    <div class="collapse navbar-collapse nav--menu">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ path('homepage') }}">Le Taxi-moto</a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                Confort & sécurité
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="">Tarification/Paiement</a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link" href=""><i class="fas fa-motorcycle"></i>&nbsp;Commander une course</a>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ path('driver_presentation') }}">
                                    Les pilotes
                                </a>
                            </li>
                        </ul>
                        {# Si l'utilisateur EST DEJA identifié #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <!-- {#{% if app.user %}#} -->
                        <ul class="navbar-nav ml-0">
                            <li class="nav-item">

                                <!-- <a class="nav-link" href="{#{{ path('profile_user') }}#}"> -->
                                <a class="nav-link" href="{{ path('profile_user', {'id': app.user.id}) }}">
                                    
                                    <i class="ri-profile-line"></i>
                                    <!-- &nbsp; -->
                                    {{ app.user.firstname }} {{ app.user.lastname }}
                                </a>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-admin-line"></i>
                                    <!-- &nbsp; -->
                                    Administration
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{#{{ path('...') }}#}">...</a>
                                    <a class="dropdown-item" href="{#{{ path('...') }}#}">...</a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <i class="ri-logout-circle-r-line"></i>
                                    <!-- &nbsp; -->
                                    Déconnexion
                                </a>
                                <!-- <a class="nav-link" href="{#{{ path('app_logout') }}#}">Déconnexion</a> -->
                            </li>
                        </ul>
                        {# Si l'utilisateur N'est PAS encore identifié #}
                        {% else %}
                        <ul class="navbar-nav ml-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class="ri-login-box-line"></i>
                                    <!-- &nbsp; -->
                                    Connexion
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

    <!-- IS_AUTHENTICATED_FULLY ? -->
    <!-- {#{{ dump(is_granted('IS_AUTHENTICATED_FULLY')) }}#} -->


        {% block body %}
        
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <div id="uptotop"><a href="#"><i class="ri-arrow-up-line"></i></a></div>
    </body>
</html>
