<!-- settings variables for Icon managing -->
{% set sImgPath="build/images/" %}
{% set sFaviconFullname=sImgPath ~ "banner/logo.png" %}

<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- -->
        <meta name="description" content="Annuaire moto-taxi taxi-moto motos-taxis taxis-motos France"/>
        <meta name="author" content="BIROLINI Herve"/>
        
        <link rel="SHORTCUT ICON" type="image/png" href="{{ asset(sImgPath ~ 'banner/favicon.png') }}"/>
        <!-- <link rel="icon" type="image/png" href="{{ asset(sFaviconFullname) }}"/> -->
        <title>{% block title %}2 Wheels 4 Motion{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX
        #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>

        <!-- Bouton "fixe" à afficher en même temps que toute Modale, pour fermeture de celle-ci -->
        <!-- <div class="btn--circle btn--hidemodal modal--closing" id="btn--modal--closing" style="display:none;">X</div> -->
        
        <!-- Ruban horizontal pour le Header -->
        {% if controller_func is defined and 
            (controller_func=='ChangePicture' or controller_func=='ChangePwd')
        %}
        <header class="disabledelements" id="section--header">
        {% else %}
        <header id="section--header">
        {% endif %}
            <!-- Container nécessaire pour occuper 100% de la largeur du Header -->
            <div class="d-flex flex-row col-12 justify-content-between pt-1"><!--  class="container--nav bor3" -->
                <!-- Logo & Marque -->
                <div class="d-flex flex-column col-3 pl-0">
                    <div id="nav--brand bor1">
                        <a href="{{ path('homepage_index') }}"><img class="nav--logo pt-2" src="{{ asset(sFaviconFullname) }}" alt="logo annuaire moto-taxi"></img></a>
                    </div>
                </div>
                <div class="d-flex flex-column col-9">
                    <!-- Ligne message personnalisé -->
                    <div class="align-self-end">
                        {% if app.user %}
                        <b>Bonjour et bienvenue {{ app.user.firstname }}</b>
                        {% else %}
                        <b style="color:red;font-size:1em;">Bonjour, vous n'êtes pas connecté</b>
                        {% endif %}
                    </div>
                    <!-- Titre du site -->
                    <div class="nav--words">
                        <h5>2Wheels4Motion:</h5>
                        &ensp;
                        <h6>"Les transferts qui (r)assurent"</h6>
                    </div>
                </div>
            </div>
            
            <!-- Menu de navigation -->
            <div class="navbar navbar-expand-lg navbar-light col-12 p-0 m-0">
                <!-- DEBUT bouton "Burger" -->
                <button class="navbar-toggler" type="button" title="BurgerButton"
                    data-toggle="collapse" data-target="#navbar-collapse--Main"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- FIN bouton "Burger" -->
                <div class="collapse navbar-collapse nav--menu" id="navbar-collapse--Main">
                    <!-- Menus 'permanents' -->
                    <ul class="navbar-nav">
                        <a class="nav-item btn-sm" href="{{ path('homepage_index') }}">Accueil</a>
                        <a class="nav-item btn-sm" href="{{ path('driver_presentation') }}">Les pilotes</a>
                        <a class="nav-item btn-sm" href="{{ path('flatrate_index') }}">Tarification/Paiement</a>
                        <!-- Menus 'contextuels' -->
                        {# Si l'utilisateur EST DEJA identifié #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <!-- page(s) profil utilisateur -->
                        <a class="nav-item btn-sm" 
                            {% if is_granted("ROLE_DRIVER") %}
                            href="{{ path('profile_driver') }}"
                            {% elseif is_granted("ROLE_CUSTOMER") %}
                            href="{{ path('profile_customer') }}"
                            {% else %}
                            href="{{ path('profile_user', {'id': app.user.id}) }}"
                            {% endif %}
                        >
                            <i class="ri-account-circle-line"></i>
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                        <!-- page(s) profil administrateur -->
                            {% if is_granted("ROLE_ADMIN") %}
                        <a class="nav-item btn-sm" href="{{ path('admin_pending') }}">
                            <i class="ri-admin-line"></i>
                            Administration
                        </a>
                            {% endif %}
                        <!-- Lien de déconnexion -->
                        <a class="nav-item btn-sm" href="{{ path('security_logout') }}">
                            <i class="ri-logout-circle-r-line"></i>
                            Déconnexion
                        </a>
                        <!-- Si l'utilisateur N'est PAS encore identifié => connexion -->
                        {% else %}
                        <a class="nav-item btn-sm" href="{{ path('security_login') }}">
                            <i class="ri-login-box-line"></i>
                            Connexion
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>

        {% block body %}
        <!-- ... Ici sera placé le contenu de toute page "étendant" cette page... -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <div class="btn--action uptotop" id="uptotop1" style='display:none;'><a href="#" title="title"><i class="ri-arrow-up-line"></i></a></div>
        <div class="btn--action uptotop" id="uptotop2" style='display:none;'><a href="#" title="title"><i class="ri-arrow-up-line"></i></a></div>
    </body>

    <footer class="d-flex flex-column" id='app--footer' style="color:white;height:75px;font-weight:bolder;background-color:rgb(92, 89, 89);justify-content:center;align-items:center;">
        FOOTER de merde !....
    </footer>
</html>
