
{% extends 'base.html.twig' %}

{% block title %}Commandez votre prochaine course{% endblock %}

{% block body %}

<!-- Claim Controller banner -->
{{ include('claim/_banner.html.twig') }}

<!-- Zone de stockage des données issues de JSON, à l'attention de Javascript -->
{{ include('geography/_FromJSON4Javascript.html.twig') }}

<div class="paragraph--large" method="post">

    <h1 class="title--h2">Précisez votre besoin :</h1>
    <div class="card--3D-vertical px-4">
        {{ form_start(claimForm,{attr:{novalidate:"novalidate"}}) }}
        
        <!-- Adresse personnel du Customer, si pas encore de compte Customer -->
        {% if customer2Create %}
        <fieldset class="my-4"><!--class="d-flex flex-row justify-content-center my-4">-->
            <legend>Adresse personnelle :</legend>
            <div class="block--datas-horizontal">
                <div class="col-12 col-md-5">
                    <!-- <label class="required" for="inputroad">N° et Voie :</label> -->
                    <input type="text" class="form-control" id="inputroad"
                        {% if customer_road is not null %}value="{{ customer_road }}"{% endif %}
                        placeholder="N° et voie" name="customer_road"
                        required
                    ><!-- autofocus> -->
                    {% if error_customer_road %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">La voie doit comporter un numéro et un nom.</small>
                    </span>
                    {% endif %}
                    <!-- &nbsp; -->
                </div>
                &nbsp;
                <div class="col-12 col-md-3">
                    <!-- <label class="required" for="inputcity">Commune :</label> -->
                    <input type="text" class="form-control inputcity" id="inputcity"
                        {% if customer_city is not null %}value="{{ customer_city }}"{% endif %}
                        placeholder="Ville" name="customer_city" pattern="[a-zA-Z]"
                        required
                    >
                    <select class="form-control cities" id="inputcities"
                        name="cities" title="cities"
                    >
                        <option value="">-- Sélectionnez votre commune --</option>
                    </select>
                    {% if error_customer_city %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">La ville doit-être spécifiée.</small>
                    </span>
                    {% endif %}
                </div>
                &nbsp;
                <div class="col-12 col-md-3">
                    <!-- <label class="required" for="inputzip">Code postal :</label> -->
                    <input type="text" class="form-control" id="inputzip"
                        {% if customer_zip is not null %}value="{{ customer_zip }}"{% endif %}
                        name="customer_zip" style="display:none;"
                    >
                    <!-- -->
                    <input type="text" class="form-control inputzip" id="inputzip2"
                        {% if customer_zip is not null %}value="{{ customer_zip }}"{% endif %}
                        placeholder="Code postal" name="customer_zip"
                        disabled
                    >
                    {#{% if error_customer_zip %}#}
                    <!-- <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">La voie doit comporter un numéro et un nom.</small>
                    </span> -->
                    {#{% endif %}#}
                </div>
            </div>
        </fieldset>
        {% else %}
            <!-- {# rien à faire pour l'instant si Customer déjà existant... #} -->
        {% endif %} 

        <!-- Zone de saisie des paramètres de la courses -->
        <div class="card--horizontal">

            <!-- Block définition des date et heure -->
            <fieldset class="col-12 col-lg-5 mt-2">
                <legend>Date et heure de la course :</legend>
                <div class="block--datas-vertical">
                    <!-- date -->
                    <div class="d-flex flex-column justify-content-center">
                        <label class="required" for="claim_form_journey_date_day">Jour de la course :</label>
                        <div class="block--date">{{ form_widget(claimForm.journey_date) }}</div>
                        {{ form_help(claimForm.journey_date)}}

                        {#<!-- {% if error_date is defined %}
                        <span class="d-block">
                            <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                            <small class="form-error-message">Vous devez préciser une date 'correcte'...</small>
                        </span>
                        {% endif %} -->#}
                        {{ form_errors(claimForm.journey_date) }}
                        
                    </div>
                    <!-- horaire -->
                    &nbsp;
                    <div class="d-flex flex-column justify-content-center">
                        <!-- Priorité -->
                        <label class="required" for="claim_form_priority_departure_0">Priorité à l'horaire :</label>
                        {{ form_widget(claimForm.priority_departure.0,
                            {attr:{class:'switcher--checked', parent_id:'select--flatrate'}}
                        )}}
                        {#{attr:{class:'switcher--checked', parent_id:'cb--flatrate'}}#}
                        
                        {{ form_widget(claimForm.priority_departure.1) }}
                        {#<!-- {% if error_priority is defined %}
                        <span class="d-block">
                            <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                            <small class="form-error-message">Vous devez préciser quel horaire est à respecter...</small>
                        </span>
                        {% endif %} -->#}
                        {{ form_errors(claimForm.priority_departure) }}
                        
                        <!-- heure -->
                        &nbsp;
                        <div class="d-flex flex-column justify-content-center">
                            <label class="required" for="claim_form_journey_time_hour">Heure :</label>
                            
                            {#{{ form_row(claimForm.journey_time) }}#}
                            <!-- <div class="d-flex flex-row align-items-center"> -->
                            <div class="block--date align-items-center">
                                <!-- <input class="form-control" type="time" id="claim_form_journey_time" name="claim_form[journey_time]"> -->
                                {{ form_widget(claimForm.journey_time.hour)}}
                                &emsp;:&emsp;
                                {{ form_widget(claimForm.journey_time.minute)}}
                                
                            </div>
                            
                            {% if error_time is defined and error_time is not null %}
                            <span class="d-block">
                                <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                                <small class="form-error-message">L'heure ne laisse pas assez de marge</small>
                            </span>
                            {% endif %}
                            {#{{ form_help(claimForm.journey_time)}}
                            {{ form_errors(claimForm.journey_time) }}#}
                        </div>
                    </div>
                        
                    <!-- Forfait mise à disposition -->
                    &nbsp;
                    
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                    <!-- <div class="d-flex flex-row col-12"> -->
                        <!-- <div class="d-flex flex-row col-6 align-items-center"> -->

                            {#<!-- <input class='cb--switcher' id="cb--flatrate" type="checkbox"
                            {% if claim is defined and claim.flatrate is not null %}
                            checked
                            {% endif %}
                            >
                            &ensp; -->#}
                            <label class='mt-2' for="cb--flatrate">Mise à disposition :</label>
                        </div>
                        <!-- <div> -->
                        <!-- <select class="form-control switcher--disabled col-6" parent_id="cb--flatrate" -->
                            <select class="form-control switcher--disabled" parent_id="cb--flatrate"
                            id="select--flatrate" size="1" position="absolute" name="flatrate"
                        >
                            <option value="">-- Choisissez une durée --</option>
                        {% for obFlatrate in flatrates %}
                            {% if obFlatrate.label starts with 'Mise à disposition' %}
                            <option value="{{ obFlatrate.id }}"
                                {% if claim is defined and claim.flatrate is not null and claim.flatrate.id==obFlatrate.id %}
                                selected='selected'
                                {% endif %}
                            >
                            {{ obFlatrate.label }}
                            </option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

            <!-- Block définition des lieux de Prise en charge et Destination -->
            <div class="col-12 col-lg-7 mt-2">
                <!-- Block définition du lieu de prise en charge -->
                <fieldset class="my-1">
                    <legend>Lieu de prise en charge :</legend>
                    <div class="row--tabtype" id="row--tabtype--claimfrom">
                        <div class="btn--tabtype" id="btn--tabtype--adressfrom" parent_id="row--tabtype--claimfrom" default>Adresse</div>
                        <div class="btn--tabtype" id="btn--tabtype--remarkableplacefrom" parent_id="row--tabtype--claimfrom"
                            {% if remarkableplace_from is defined and remarkableplace_from is not null and remarkableplace_from!='' %}
                            default
                            {% endif %}
                        >
                            Lieu particulier&emsp;<i class="fas fa-plane-arrival"></i>&nbsp;<i class="fas fa-train"></i>
                        </div>
                    </div>
                    <!-- block 'adressfrom' -->
                    <div class="block--datas-vertical block--tabtype" parent_id="btn--tabtype--adressfrom">
                        <div class="d-flex flex-column justify-content-center w-100">
                            <!-- Road -->
                            <div class="d-flex flex-column justify-content-center w-100">
                                <!-- <label class="required" for="claim_form_from_road">N° et Voie :</label> -->
                                {{ form_widget(claimForm.from_road) }}
                                {{ form_errors(claimForm.from_road) }}
                                {{ form_help(claimForm.from_road) }}
                            </div>
                            &nbsp;
                            <!-- City + Zip -->
                            <div class="d-flex flex-column justify-content-center w-100">
                                <div class="d-flex flex-row" style="margin-left:-1em;margin-right:-1em;">
                                    <!-- ... City... -->
                                    <div class="col-8">
                                        <!-- <label class="required" for="claim_form_from_city">Ville :</label> -->
                                        {{ form_widget(claimForm.from_city) }}
                                        <select class="form-control cities" id="claim_form_from_cities"
                                            name="from_cities" title="from_cities"
                                        >
                                            <option value="">-- Sélectionnez votre commune --</option>
                                        </select>
                                        {{ form_errors(claimForm.from_city) }}
                                        {{ form_help(claimForm.from_city) }}
                                    </div>
                                    <!-- ... Zip... -->
                                    <div class="col-4">
                                        <!-- <label class="required">CP :</label> -->
                                        <div style="display:none;">
                                            {{ form_widget(claimForm.from_zip) }}
                                        </div>
                                        <input type="text" class="form-control zipcode claim_form_from_zip" id="claim_form_from_zip2"
                                            placeholder="Code postal" title="zipcode"
                                            {% if fromZip %} value='{{ fromZip }}'{% endif %}
                                            disabled
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- block 'remarkableplacefrom' -->
                    <div class="block--datas-vertical block--tabtype" parent_id="btn--tabtype--remarkableplacefrom">
                        {{ include('geography/_selectregion.html.twig', {id:'select--region--from'})}}
                        <br>
                        {{ include('remarkableplace/_selectremarkableplace.html.twig',
                            {opt_selected: remarkableplace_from,
                                class:'select--filter--back',
                                suffix:'from',
                                parent_id:'select--region--from'
                            }
                        )}}
                    </div>
                    {% if error_fromzip is defined and error_fromzip is not null %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">Vous devez soit préciser une adresse, soit choisir un lieu particulier...</small>
                    </span>
                    {% endif %}
                </fieldset>

                <!-- Block définition du lieu de destination -->
                <fieldset class="my-1">
                    <legend>Destination :</legend>
                    <div class="row--tabtype" id="row--tabtype--claimto">
                        <div class="btn--tabtype" id="btn--tabtype--adressto" parent_id="row--tabtype--claimto" default>Adresse</div>
                        <div class="btn--tabtype" id="btn--tabtype--remarkableplaceto" parent_id="row--tabtype--claimto"
                            {% if remarkableplace_to is defined and remarkableplace_to is not null and remarkableplace_to!='' %}
                            default
                            {% endif %}
                        >
                        Lieu particulier&emsp;<i class="fas fa-plane-departure"></i>&nbsp;<i class="fas fa-train"></i>
                    </div>
                    </div>
                    <!-- block 'adressto' -->
                    <div class="block--datas-vertical block--tabtype" parent_id="btn--tabtype--adressto">
                        <!-- Road -->
                        <div class="d-flex flex-column justify-content-center w-100">
                            <!-- <label class="required" for="claim_form_to_road">N° et Voie :</label> -->
                            {#{{ form_label(claimForm.to_road) }}#}
                            {{ form_widget(claimForm.to_road) }}
                            {{ form_errors(claimForm.to_road) }}
                            {{ form_help(claimForm.to_road) }}
                        </div>
                        &nbsp;
                        <!-- City + Zip -->
                        <div class="d-flex flex-column justify-content-center w-100">
                            <div class="d-flex flex-row" style="margin-left:-1em;margin-right:-1em;">
                                <!-- ... City... -->
                                <div class="col-8">
                                    <!-- <label class="required" for="claim_form_to_city">Ville :</label> -->
                                    {{ form_widget(claimForm.to_city) }}
                                    <select class="form-control cities" id="claim_form_to_cities"
                                        name="to_cities" title="to_cities"
                                    >
                                        <option value="">-- Sélectionnez votre commune --</option>
                                    </select>
                                    {{ form_errors(claimForm.to_city) }}
                                    {{ form_help(claimForm.to_city) }}
                                </div>
                                <!-- ... Zip... -->
                                <div class="col-4">
                                    <!-- <label class="required">CP :</label> -->
                                    <div  style="display:none;">
                                        {{ form_widget(claimForm.to_zip) }}
                                    </div>
                                    <input type="text" class="form-control claim_form_to_zip" id="claim_form_to_zip2"
                                        placeholder="Code postal" title="zipcode"
                                        {% if toZip %} value='{{ toZip }}'{% endif %}
                                        disabled
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- block 'remarkableplacefrom' -->
                    <div class="block--datas-vertical block--tabtype" parent_id="btn--tabtype--remarkableplaceto">
                        {{ include('geography/_selectregion.html.twig', {id:'select--region--to'}) }}
                        <br>
                        {{ include('remarkableplace/_selectremarkableplace.html.twig',
                            {opt_selected: remarkableplace_to,
                                class:'select--filter--back',
                                suffix:'to',
                                parent_id:'select--region--to'
                            }
                        )}}
                    </div>
                    {% if error_tozip is defined and error_tozip is not null %}
                    <span class="d-block">
                        <small class="form-error-icon badge badge-danger text-uppercase">Error</small>
                        <small class="form-error-message">Vous devez soit préciser une adresse, soit choisir un lieu particulier...</small>
                    </span>
                    {% endif %}
                </fieldset>
            </div>

        </div>

        <!-- Zone de saisie des commentaires -->
        &emsp;
        {{ form_widget(claimForm.comments) }}
        {{ form_errors(claimForm.comments) }}
        {{ form_help(claimForm.comments) }}
        <!-- {#{{ form_row(claimForm.comments) }}#} -->
        
        <!-- Boutons de sortie -->
        <div class="btns--row">
            <button class="btn btn-sm btn--blue" type="submit">
                <i class="far fa-paper-plane"></i>&ensp;Envoyer la demande
            </button>
            <!-- la route security_login permet, puisque déjà connecté, de renvoyer vers la page du tableau de bord la plus appropriée -->
            <!-- <a class="btn btn-sm btn--secondary" href="{{ path('profile_user',{'id': app.user.id}) }}"> -->
            <a class="btn btn-sm btn--secondary" href="{{ path('security_login',{'id': app.user.id}) }}">
                <i class="fas fa-times"></i>&ensp;Annuler
            </a>
        </div>
        
        {{ form_end(claimForm) }}
        
        <small style="color:red;">(* champs obligatoire)</small>
    </div>
</div>

{% endblock %}