
{% if flatrate is defined and flatrate is not null %}
{{ flatrate }}
{% endif %}

<div style='display:flex;flex-direction:row;justify-content:space-between'>
    <div>
        <div>{{ lastname~'  '~firstname }}</div>
        <div>{{ road }}</div>
        <div>{{ zip~'  '~city }}</div>
        <div>{{ phone }}</div>
        <div>{{ user_email }}</div>
    </div>
    <div style='display:flex;flex-direction:column;justify-content:end;'>
        Demande envoyée via 2Wheels4Motion,<br>
        l'Annuaire des VMDTR français,<br>
        le {{ claim_datetime }}
    </div>
</div>
<div style="margin-top:2em;">
    <span>
        &emsp;Bonjour,
        <br><br>
        J'aurais besoin d'un chauffeur le <b>{{ journey_date }}</b>,
        pour effectuer un trajet avec une prise en charge à l'adresse :
        <div style='margin-left:5em;font-weight:bolder;'>
        {% if from_place is defined %}
            {{ from_place.label }}
        {% else %}
            {{ from_road }}
            <br>
            {{ from_zip~'  '~from_city }}
        {% endif %}
        </div>
        pour destination :
        <div style='margin-left:5em;font-weight:bolder;'>
            {% if to_place is defined %}
                {{ to_place.label }}
            {% else %}
                {{ to_road }}
                <br>
                {{ to_zip~'  '~to_city }}
            {% endif %}
        </div>
        {% if priority_departure is defined and priority_departure is not null %}
        avec une prise en charge à :
        {% else %}
        et une arrivée à destination pour :
        {% endif %}
        <div style='margin-left:5em;font-weight:bolder;'>
            {{ journey_time }}
        </div>
        {% if flatrate is defined %}
        <br>
        Je serais particulièrement intéressé pour vous mandater sur un forfait :
        <div style='margin-left:5em;font-weight:bolder;'>
            {{ flatrate }}
        </div>
        {% endif %}
        <br>
        Autres commentaires relatifs à la courses :
        <div style='margin-left:5em;font-weight:bolder;'>
            {{ comments }}
        </div>
    </span>
    <p><b>
        Si vous êtes en mesure d'exécuter et d'accepter cette course,
        merci de me faire parvenir votre devis, en précisant,
        selon vous, l'heure à laquelle devra se faire la prise en charge,
        afin que je formalise une commande suite à acceptation de celui-ci...
    </b></p>
    <p>Cordialement</p>
    
    <p>
        NB : Cher(e) {{ driver_firstname }}, pour répondre à cette demande,
        rendez-vous dans votre compte de l'Annuaire 2Wheels4Motion,
        et retournez-lui un devis d'un simple clique !...
    </p>
</div>
